h1.title{
    text-align: center;    
}

html{
    background-color:#e3fffa;
}

ul#menu li{

    float: left;
    display: block;  
    margin:5px;
    text-align: center;
}

ul#menu li a:link{
    text-decoration: none;
    color: black;
}

ul#menu li a:hover{
    text-decoration: none;

}

.sottotitolo{
    text-align: center;
}


ul#menu .search{

    width: 20px;
    height: 17px;
    border: 3px solid;
    border-color: rgb(8, 1, 38);
    margin-left: 10px;
    position: absolute;

}

.button{
    border: solid 1px black;
    margin-left: 5px;
    width: 18px;
    height: 18px;
    position: absolute;
}
